table {
    width: 100%;
  }

  .mat-header-cell{
    font-weight: bold;
    font-size: medium;
  }

  .start-button{
    margin-right: 5%;
  }

  .external-links-div{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
  }

  .record-activity-div{
    margin-right: 2.5%;
  }

  .timesheet-div{
    margin-right: 1%;
  }
  
  .super-work-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .work-summary-div{
    padding-left: 2%;
    padding-top: 1%;
  }

  mat-list-item[id=errorMsgList]{
    color: red;
    font-size: small;
  }

  mat-label[id=successMsg]{
    color: green;
    font-size: small;
    font-weight: bold;
  }

  .success-div{
    margin-left: 35%;
  }

  .priority-control-div{
    padding-top: 1.5%;
  }

  .work-status-div{
    margin: 1%;
  }

  .create-work-button{
    padding-top: 1.5%;
  }

  .record-activity-div{
    padding-top: 1.5%;
  }

  .timesheet-div{
    padding-top: 1.5%;
  }

  .table-header-div{
    text-align: center;
  }

  mat-select[id=Status] {
    text-align: center;
  }

  input{
    text-align: center;
  }

  .label-header-div{
    text-align: center;
    padding-top: 3%;
  }

  .input-header-div{
    text-align: center;
    padding-top: 3%;
  }

  .select-header-div{
    text-align: center;
  }

  .mat-option-text{
    text-align: center;
  }



  